@model List<WebAppDotNetCore.Models.CityInfo>
@{
}
<h2 class="text-center">Cities</h2>
<table class="city-table" width="100%">
    <tr>
        <th>City ID</th>
        <th>City</th>
        <th>Lat</th>
        <th>Lon</th>
        <th class="text-right">Action</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr class="row-hover">
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.ID" class="city-name">@item.City</a>
            </td>
            <td>
                @item.Lat
            </td>
            <td>
                @item.Lon
            </td>
            <td class="text-right">
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a>
            </td>
        </tr>
    }
</table>